<p>
    I am a Ph.D. Candidate at University of Waterloo and a machine learning researcher at <a href="http://www.hurondigitalpathology.com/">Huron Digital Pathology</a>. My research interests are in Multi-instance learning, Deep Learning, and their applications for image-search in digital pathology. I've +3 years of software develepement and +3 years of research exprience with the strong hold on Python, ML/data science toolkits, statistical modelling, data visualization, and distributed/parallel computing.
</p>
<p>
    Check my publications at <a href=" https://scholar.google.ca/citations?user=iEwZn18AAAAJ"> Google's scholar page </a>.

</p>

